<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Her first name was {{first_name | upper}} and her last name was {{last_name}}</p>
    <p>Le première élément de la liste : {{some_list.0}}</p>
    <p>Un élément du dico : {{some_dict.my_key}}</p>
    <!-- This a comment with html -->
    <p>{# This a another way to comment #}</p>
</body>
</html>